@media screen and (min-width:600px) and (max-width:1204px) {
 
 
 .logo img{
 	width: 50px;
 	height: 50px;
 }


 nav a{
 	font-size: 19px;
 }

.about-info h3{
	font-size: 40px;
}
.yu{

	width: 100%;
	height: 350px;
	padding-top: 60px;
}

.yu h6{
	width: 400px;
	border: 1px solid #fff;
	margin: auto;
	margin-top: 30px;
	padding: 15px 30px;
	font-size: 20px;
}
.contact{
	height: 600px;
}
.location iframe{
	width: 700px;
	height: 400px;
}

}


header{

 	background-image: url('images/bg.jpg');
 	height: 600px;
 	background-size: cover;
 	color: #fff;
 }



.intro{
	border:1px solid #fff;
	border-radius: 3px;
	padding: 10px 30px;
	font-family: 'Julius Sans One', sans-serif;
}
.social{
	margin-top: 10px;
}
.social a{
	font-size: 27px;
	text-decoration: none;
	color: #fff;
	padding-right: 10px;

}

.social a:hover{
	cursor: pointer;
	color: grey;
}

.about {
    background-image: linear-gradient(to right, rgba(73,155,234,0.23) 0%, rgba(73,155,234,0.24) 0%, rgba(73,155,234,0.24) 71%, rgba(32,124,229,0.24) 100%), url('images/photo7.JPG');
	background-size: cover;
	background-position: center;
	height: 450px;
	font-family: 'Hind Guntur', sans-serif;
	
}

.about-info{
	float: right;
	width: 480px;
	margin-top: 100px;
	margin-right: 100px;

}

.yu{
	background-image:url('images/photo9.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
	color: #fff;

}
.main .container{
	box-shadow: 0px 0px 50px 0px #3c3c3c;
	border-radius: 5px;
	height: 500px;
	margin-bottom: 50px;


}
 /* WElcome text animation */
.welcome{
	text-align: center;
	font-size: 20px;
}

.welcome span{
	text-transform: uppercase;
	display: block;
}

.welcome .text1{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 5px;
	animation: text 15s 1;
	position: relative;
}
.welcome .text2{
	font-size: 20px;
	color: grey;

	
}
@keyframes text {
	0%{
		color: #fff;
		margin-bottom: 20px;
	}
	30%{
		letter-spacing: 20px;
		margin-bottom: 20px;
	}
	85%{
		letter-spacing: 5px;

	}

}

/* Hello Text Animation */
 .hello {
 	animation: type 2.5s steps(11);
 	overflow: hidden;
 	white-space: nowrap;
 	border-right: 1px solid #fff;
 	width: 10ch;
 	font-family: 'Questrial', sans-serif;

 }
@keyframes type{
	0%{
		width: 0ch;
	}
	100%{
		width: 11ch;
	}
}


body a:hover{
	
	text-decoration: none;
}

.intro{
	font-family: 'Questrial', sans-serif;
	width: 250px;
	text-align: center;

}
.sendmail{
	color: #fff;
	background-color: #2E418E;
	width: 150px;

}
.sendmail a{
	color: #fff;
	font-size: 20px;
}

.sendmail:hover{
	color:  #2E418E;
	background-color: #fff;
}

.contact{
	background: linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)), url(images/contact.jpg);	
	width: 100%;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-attachment: fixed;
}

.contact-info h6{
	color: #fff;
	font-size: 23px;
	margin-top: 80px;
	animation: fadeandscale 2s cubic-bezier(0,1.07,.72,1.42);

}
@keyframes fadeandscale{
	from{
		opacity: 0;
		transform: scale3d(.75,.75,1);
	}
	to{
		opacity: 1;
		transform: scale3d(1,1,1);
	}
}

.system{
	text-align: center;
	margin:0 auto;
	margin-top: 50px;
	font-family: 'Didact Gothic', sans-serif;
	animation: fadein 3s ease-in;

}
@keyframes fadein{
	from{
		opacity: 0;

	}
	to{
		opacity: 1;
	}
}
.system .first{
	width: 120px;
	padding-top: 20px;

}
.system .second{
	padding-top: 10px;
}
.send-info-btn{
	background: transparent;
	border: 1px solid #fff;
	padding: 8px 10px;
	border-radius: 5px;


}
.send-info-btn{
	color: grey;

}
.send-info-btn:hover{
	color: #000;
	background: #fff;
}
/* gallery folders */
.gallery_folder img{

	width: 200px;
	height: 200px;

}



/* Blog */
.blog{
	background-image: url(images/bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}
.neon{
	font-family: 'Didact Gothic', sans-serif;
	color: #fff;
	margin-top: 150px;
	font-size: 45px;
	text-shadow: 0 0 20px #ff005b;
	font-weight: 500;

}



footer{
	height: 200px;
	background-color: #262020;
	color: #fff;
	margin-top: 20px;
}





