@media screen and (min-width:450px) and (max-width:1204px) {
 
 
 .logo img{
 	width: 80px;
 	height: 80px;
 }


 nav a{
 	font-size: 21px;
 }

.about-info h3{
	font-size: 40px;
}





}


header{

 	background-image: url('images/bg.jpg');
 	height: 500px;
 	background-size: cover;
 	color: #fff;
 }

.intro{
	border:1px solid #fff;
	border-radius: 3px;
	padding: 10px 30px;
	font-family: 'Julius Sans One', sans-serif;
}
.social{
	margin-top: 10px;
}
.social a{
	font-size: 27px;
	text-decoration: none;
	color: #fff;
	padding-right: 10px;

}

.social a:hover{
	cursor: pointer;
	color: grey;
}

.about {
    background-image: linear-gradient(to right, rgba(73,155,234,0.23) 0%, rgba(73,155,234,0.24) 0%, rgba(73,155,234,0.24) 71%, rgba(32,124,229,0.24) 100%),url('images/photo7.jpg');
	background-size: cover;
	background-position: center;
	height: 450px;
	font-family: 'Hind Guntur', sans-serif;
	
}

.about-info{
	float: right;
	width: 480px;
	margin-top: 100px;
	margin-right: 100px;

}






