@media screen and (min-width: 321px) and (max-width: 580px) {
 
 header{
 	height: 600px;
 } 
 
 nav{
 		font-size: 23px;


 	}
 .logo img{
 	width: 50px;
 	height: 50px;

 }

.about-info{
	float: right;
	width: 200px;
	margin-top: 80px;
	margin-right: 10px;
}

.about-info h3{
	font-size: 25px;
}
.about-info p{
	font-size: 13px;
}
.contact{
	height: 600px;
}
.location iframe{

	width: 350px;
	height: 320px;
}

}