@media screen and (min-width: 321px) and (max-width: 580px) {
 
  
 
 nav{
 		font-size: 23px;


 	}
 .logo img{
 	width: 90px;
 	height: 90px;

 }

.about-info{
	float: right;
	width: 200px;
	margin-top: 80px;
	margin-right: 10px;
}

.about-info h3{
	font-size: 25px;
}
.about-info p{
	font-size: 13px;
}

.yu{

	width: 100%;
	height: 300px;
	padding-top: 50px;
}

.yu h2{
	font-size: 23px;
}
.yu h6{
	width: 300px;
	border: 1px solid #fff;
	margin: auto;
	margin-top: 20px;
	font-size: 15px;
	padding: 2px;
}
}